

<h5>Create Pin</h5>

<form method="POST" action="">
	
	<div>
		<label for="title">Titre</label> <br>
		<input type="text" required name="title" id="title" class="form-control" placeholder="Titre">
	</div>

	<div>
		<label for="description">Description</label> <br>
		<textarea name="description" required id="description" rows="5" cols="80"></textarea>
	</div>
	<div>
		<button type="submit" class="btn"> Save Pin </button>
	</div>
</form>